<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Trace" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="trace.log" formatter="Text Formatter" rollFileExistsBehavior="Increment" rollInterval="Day" maxArchivedFiles="14"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local)}{newline}&#xD;&#xA;Category: {category}{newline}&#xD;&#xA;Message: {message}{newline}&#xD;&#xA;"


  name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Trace"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Trace"/>
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Trace"/>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Trace"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="AdHocRevolution"/>
  <connectionStrings>
    <add name="AdHocRevolution" connectionString="data source=tardis\TARDIS;Initial Catalog=ahr4;Persist Security Info=True;User ID=SA;Password=pip1a;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="AdHocConnector" connectionString="data source=tardis\TARDIS;Initial Catalog=adhoc_connector;Persist Security Info=True;User ID=SA;Password=pip1a;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="version" value="Ad Hoc Migrator 1.2.0"/>
    <add key="tables_prefix" value="NECNN"/>
    <add key="images_path" value=""/>
    <add key="joomla_user" value="paolo.mosca"/>
    <add key="joomla_password" value="eurocarta"/>
    <add key="joomla_server" value="http://eurocarta.dev"/>
    <!--<add key="joomla_server" value="http://www.eurocarta.net" />-->
    <add key="joomla_category_browse_page" value="browse_1"/>
    <add key="joomla_category_flypage" value="flypage.tpl"/>
    <add key="time" value="03:00:00"/>
    <add key="list_code" value="EUR"/>
    <add key="stock_code" value="02"/>
    <add key="discarded_categories" value="ARCH;HARD;MATCU;EUR"/>
    <add key="IVA" value="0.21000"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="VM_CategoriesSOAP" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <security>
            <message algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="VM_SQLQueriesSOAP" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <security>
            <message algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="VM_ProductSOAP" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <security>
            <message algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="VM_OrderSOAP" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <security>
            <message algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="VM_UsersSOAP" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <security>
            <message algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.eurocarta.net/administrator/components/com_vm_soa/services/VM_ProductService.php"
        binding="basicHttpBinding" bindingConfiguration="VM_ProductSOAP"
        contract="ProductService.VM_Product" name="VM_ProductSOAP" />
      <endpoint address="http://www.eurocarta.net/administrator/components/com_vm_soa/services/VM_CategoriesService.php"
        binding="basicHttpBinding" bindingConfiguration="VM_CategoriesSOAP"
        contract="CategoriesService.VM_Categories" name="VM_CategoriesSOAP" />
      <endpoint address="http://www.eurocarta.net/administrator/components/com_vm_soa/services/VM_SQLQueriesService.php"
        binding="basicHttpBinding" bindingConfiguration="VM_SQLQueriesSOAP"
        contract="ExecuteSQLService.VM_SQLQueries" name="VM_SQLQueriesSOAP" />
      <endpoint address="http://www.eurocarta.net/administrator/components/com_vm_soa/services/VM_OrdersService.php"
        binding="basicHttpBinding" bindingConfiguration="VM_OrderSOAP"
        contract="OrderService.VM_Order" name="VM_OrderSOAP" />
      <endpoint address="http://www.eurocarta.net/administrator/components/com_vm_soa/services/VM_UsersService.php"
        binding="basicHttpBinding" bindingConfiguration="VM_UsersSOAP"
        contract="UsersService.VM_Users" name="VM_UsersSOAP" />
    </client>
  </system.serviceModel>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
      <ipv6 enabled="true"/>
    </settings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
